<div *ngIf="device">
  <h2>{{ device.partNumber }} Details</h2>
  <div><span>id: </span>{{ device.id }}</div>
  <div>
    <label for="partNumber">Device part number: </label>
    <input
      id="partNumber"
      [(ngModel)]="device.partNumber"
      placeholder="partNumber"
    />
  </div>
  <div>
    <label for="color">Device color: </label>
    <input id="color" [(ngModel)]="device.color" placeholder="color" />
  </div>
  <div>
    <label for="categories_id">Device categories_id: </label>
    <input
      id="categories_id"
      [(ngModel)]="device.categories_id"
      placeholder="categories_id"
      readonly
    />
  </div>
  <div>
    <label for="categories_id">Device category:</label>
    <select id="categories_id" [(ngModel)]="device.categories_id">
      <option
        *ngFor="let category of categoriesList"
        [value]="category.id"
        [attr.selected]="category.id == device.categories_id ? true : null"
      >
        {{ category.name }}
      </option>
    </select>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="saveDevice()">save</button>
</div>
