<div *ngIf="device">
  <h2>PN {{ device.partNumber }} Details</h2>

  <mat-form-field appearance="fill" class="p-form-1">
    <mat-label>Part number</mat-label>
    <input
      matInput
      id="partNumber"
      [(ngModel)]="device.partNumber"
      placeholder="Part Number"
    />
  </mat-form-field>

  <mat-form-field
    hintLabel="Max 16 characters"
    appearance="fill"
    class="p-form-1"
  >
    <mat-label>Enter color</mat-label>
    <input
      matInput
      #deviceColor
      maxlength="16"
      id="color"
      [(ngModel)]="device.color"
      placeholder="Color"
    />
    <mat-hint align="end">{{ deviceColor.value?.length || 0 }}/16</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" class="p-form-1">
    <mat-label>Category</mat-label>
    <mat-select
      #deviceCategoriesId
      id="categories_id"
      [(ngModel)]="device.categories_id"
    >
      <mat-option
        *ngFor="let category of categoriesList"
        [value]="category.id"
        [attr.selected]="category.id == device.categories_id ? true : null"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <span class="m-form-1">
      <button mat-raised-button (click)="goBack()">Go back</button>
    </span>
    <span class="m-form-1">
      <button mat-raised-button color="primary" (click)="saveDevice()">
        Save
      </button>
    </span>
  </div>
</div>
